<% include ./partials/header %>
<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="background-image:url(https://ak4.picdn.net/shutterstock/videos/11128214/thumb/1.jpg)">

        <div class="container ">
                <div class="row text-center">
                  <form action="/profile1/<%=username%>" method="post" >
                    <div>
                            <h2 style="font-family:Mali,cursive">Username : <%=username%></h2>
                            <input name="username" value="<%=username%>" type="hidden">
                    </div>
                    <div>
                    <h2 style="font-family:Mali,cursive">Profile Picture :</h2><img src="/uploads/<%=imgname%>"class="img-thumbnail" alt="" width="300px" height="300px">
                    </div>
                    <div>
                            <table class="table table-bordered text-center">
                                    <tbody>
                                        <tr>
                                            <td>College:</td>
                                            <td>Fr Conceicao Rodrigues College Of Engineering</td>
                                        </tr>
                                        <tr>
                                                <td>Username:</td>
                                                <td><%=username%></td>
                                              </tr>
                                      <tr>
                                        <td>Email:</td>
                                        <td><%=email%></td>
                                      </tr>

                                      <tr>
                                        <td>Role:</td>
                                        <td><%=isAdmin%></td>
                                      </tr>
                                      <tr>
                                        <td>status:</td>
                                        <td><%=status%></td>
                                      </tr>
                                    </tbody>
                                  </table>
                    </div>
                    <div class="text-centered">

                      <a class="btn btn-success btn-lg" href="/logout">Logout</a>


                    </div>
                            <div class="form-group">
                                <button id="press"class="btn btn-primary btn-lg">Edit Status</button>
                                <input type="text"id="add" name="status" size="35"/>
                            </div>
                          <button type="submit" style="padding-top:10px" class="btn btn-info" id="save">save</button>
                    </div>
                  </form>
                </div>
              </div>
<script>
    $("#press").click(function(){
        console.log("reached");
         $("#add").css({'display':'block'})
});

</script>
</body>
</html>
